@import 'tailwindcss';


html,
body {
    @apply h-full antialiased from-canvas1 to-canvas2 bg-linear-to-t
}


:root {
    --canvas-color1: var(--color-white);
    --canvas-color2: var(--color-green-200);

    --fg: var(--color-green);
    --fg-soft: var(--color-green-400);
    --btn: var(--color-green-400);
    --btn-text: var(--color-black);


    scrollbar-color: var(--color-green-500) var(--color-green-50);
}

@media (prefers-color-scheme: dark) {


    /* [data-theme="dark"] { */




    :root {

        scrollbar-color: var(--color-zinc-500) var(--color-zinc-900);

        --canvas-color1: var(--color-zinc-950);
        --canvas-color2: var(--color-zinc-900);

        --fg: var(--color-white);
        --fg-soft: var(--color-slate-400);
        --btn: var(--color-slate-700);
        --btn-text: var(--color-white);
    }
}

@theme inline {
    --color-canvas1: var(--canvas-color1);
    --color-canvas2: var(--canvas-color2);

    --color-fg: var(--fg);
    --color-fg-soft: var(--color-fg-soft);
    --color-btn: var(--btn);
    --color-btn-text: var(--btn-text);
}


/* html,
body {
    @apply bg-linear-to-b dark:bg-none from-green-300 to-white h-full antialiased bg-white text-black dark:bg-zinc-950 dark:text-zinc-100
} */


/* body {
    scrollbar-color: var(--color-zinc-500) var(--color-zinc-800);
} */

/* @custom-variant dark (&:where([data-theme=dracula-dark], [data-theme=dracula-dark] *));

[data-theme='dracula-light'] {
    --color-canvas: var(--color-black);
    --color-fg: var(--color-white);
    --color-fg-soft: var(--color-gray-400);
    --color-btn: var(--color-green-400);
    --color-btn-text: var(--color-black);
}

[data-theme='dracula-dark'] {
    --color-canvas: var(--color-slate-900);
    --color-fg: var(--color-white);
    --color-fg-soft: var(--color-slate-400);
    --color-btn: var(--color-slate-700);
    --color-btn-text: var(--color-white);
} */